@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import './landing';
@import './variables';
@import './navbar';
@import './util';
@import './login';
@import './support';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #fff;
	color: #000;
	font-size: 18px;
	line-height: 1.6;
	h1,
	h2,
	h3,
	p {
		margin-bottom: 10px;
	}

	a {
		text-decoration: none;
		color: #fff;
	}
}


ul li {
	margin: 0.5rem 1rem;
	a{
		color: #cccccc;
	}
}

ul li.active{
	border-bottom: 2px solid $secondary-color;
	a {
		color: #fff;
	}
}

section {
	display: none;
}